.App {
  mask-image: linear-gradient(#fff, #fff, hsla(0, 0%, 100%, 0));
  display: -webkit-box !important;
  text-overflow: ellipsis "[...]";
  -webkit-line-clamp: 5;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.title {
  font-family: sans-serif;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.title:hover {
  cursor: pointer;
  color: red;
  scale: 110%;
}
